<div class="dw-heading">Change password</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert" ng-class="{ 'alert-warning': msg !== 'ok', 'alert-success': msg === 'ok' }" ng-show="msg">{{ msg === 'ok' ? 'The password is updated successfully' : msg }}</div>

        <form class="form-horizontal" ng-submit="change()">
            <div class="form-group">
                <label class="col-md-4 control-label">Current password</label>
                <div class="col-md-8">
                    <input type="password" ng-model="currentPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">New password</label>
                <div class="col-md-8">
                    <input type="password" ng-model="newPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Retype password</label>
                <div class="col-md-8">
                    <input type="password" ng-model="confirmPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>