<div class="dw-heading">
    <a href="/admin/post">Posts</a> / Edit post
    <span class="btn-group">
        <button class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-default" ng-click="save('activated')">Save and Publish</button>
        <button class="btn btn-default" ng-click="save('draft')">Save as draft</button>
    </span>

    <export-pdf ng-model="post" class="dw-task-pdf"></export-pdf>
</div>

<form class="form-horizontal">
    <tabset>
        <tab>
            <tab-heading>General</tab-heading>

            <div class="col-md-8">
                <div class="form-group">
                    <label class="col-md-4 control-label">Title</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="post.title" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Slug</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="post.slug" class="form-control" post-slug post-title="post.title" post-id="post._id" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Categories</label>
                    <div class="col-md-8">
                        <div class="checkbox" ng-repeat="category in categories">
                            <label>
                                <input type="checkbox" value="{{ category._id }}" ng-click="selectCategory(category._id)" ng-checked="category.selected" /> {{ category.name }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Heading style</label>
                    <div class="col-md-8">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'______'">None</label>
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'111111'">1, 2, 3</label>
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'AAAAAA'">A, B, C</label>
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'aaaaaa'">a, b, c</label>
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'IIIIII'">I, II, III</label>
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'iiiiii'">i, ii, iii</label>
                            <label class="btn btn-default" ng-model="post.heading_styles" btn-radio="'custom'">Custom</label>
                        </div>
                    </div>
                </div>

                <div ng-show="post.heading_styles === 'custom'">
                    <div class="form-group" ng-repeat="i in [1, 2, 3, 4, 5, 6]">
                        <label class="col-md-4 control-label">#{{i}} level heading style</label>
                        <div class="col-md-8">
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="post['heading_style_h' + i]" btn-radio="'_'">None</label>
                                <label class="btn btn-default" ng-model="post['heading_style_h' + i]" btn-radio="'1'">1, 2, 3</label>
                                <label class="btn btn-default" ng-model="post['heading_style_h' + i]" btn-radio="'A'">A, B, C</label>
                                <label class="btn btn-default" ng-model="post['heading_style_h' + i]" btn-radio="'a'">a, b, c</label>
                                <label class="btn btn-default" ng-model="post['heading_style_h' + i]" btn-radio="'I'">I, II, III</label>
                                <label class="btn btn-default" ng-model="post['heading_style_h' + i]" btn-radio="'i'">i, ii, iii</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>

        <tab active="activeContentTab">
            <tab-heading>Content</tab-heading>

            <div class="btn btn-default dw-upload-button">
                <span>Upload files</span>
                <input type="file" ng-file-select="upload($files)" data-multiple="true" />
            </div>

            <div class="dw-post-editor">
                <div ui-codemirror="{ onLoad: editorLoaded }" ui-codemirror-opts="editorOptions"></div>
            </div>
        </tab>

        <tab select="preview()">
            <tab-heading>Preview</tab-heading>
            <div ng-bind-html="html" class="dw-post-preview"></div>
        </tab>
    </tabset>
</form>