extends ../layouts/backend

block content
    ol.breadcrumb
        li.activate Change password

    include ../partial/flash

    div.col-lg-6.col-lg-offset-3
        form#updatePasswordForm.form-horizontal(method="post", action="/admin/password")
            div.form-group
                label.control-label.col-lg-3 Current password
                div.col-lg-6
                    input.form-control(type="password", name="password")

            div.form-group
                label.control-label.col-lg-3 New password
                div.col-lg-6
                    input.form-control(type="password", name="new_password")

            div.form-group
                label.control-label.col-lg-3 Retype new password
                div.col-lg-6
                    input.form-control(type="password", name="confirm_password")

            div.form-group
                div.col-lg-9.col-lg-offset-3
                    button.btn.btn-primary(type="submit") Save

block footerScript
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Form validator
            $('#updatePasswordForm').bootstrapValidator({
                fields: {
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The current password is required'
                            }
                        }
                    },
                    new_password: {
                        validators: {
                            notEmpty: {
                                message: 'The new password is required'
                            },
                            identical: {
                                field: 'confirm_password',
                                message: 'The new password and confirmation one are not the same'
                            },
                            different: {
                                field: 'password',
                                message: 'The new password cannot be the same as current one'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'The new password must have at least 6 and less than 30 characters'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            notEmpty: {
                                message: 'You have to retype the password'
                            },
                            identical: {
                                field: 'new_password',
                                message: 'The new password and confirmation one are not the same'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'The new password must have at least 6 and less than 30 characters'
                            }
                        }
                    }
                }
            });
        });