extends ../layouts/default
block content
    div(style="margin: 200px auto 0 auto; max-width: 320px;")
        include ../partial/flash
        div.panel.panel-default
            div.panel-body
                form#forgotPasswordForm(method="post", action="/forgot-password")
                    div.form-group
                        input.form-control(type="text", name="email", placeholder="Email")
                    div.form-group
                        button.left.btn.btn-primary(type="submit") RECOVER PASSWORD
        div.d-separator
            span or
        p.text-center
            a.btn.btn-info(href="/") RETURN TO LOGIN