extends ../layouts/default

block content
    div(style="margin: 200px auto 0 auto; max-width: 320px;")
        include ../partial/flash

        div.panel.panel-default
            div.panel-body
                form#forgotPasswordForm(method="post", action="/forgot-password")
                    div.form-group
                        input.form-control(type="text", name="user_name", placeholder="Username")
                    div.form-group
                        input.form-control(type="text", name="email", placeholder="Email")
                    div.form-group
                        button.left.btn.btn-primary(type="submit") RECOVER PASSWORD
        div.d-separator
            span or
        p.text-center
            a.btn.btn-info(href="/signin") RETURN TO LOGIN

block footerScript
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Form validator
            $('#forgotPasswordForm').bootstrapValidator({
                fields: {
                    user_name: {
                        validators: {
                            notEmpty: {
                                message: 'The username is required'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'The email is required'
                            },
                            emailAddress: {
                                message: 'The email is not valid'
                            }
                        }
                    }
                }
            });
        });