doctype html
html
    head
        meta(charset="utf-8")
    body
        p Hi #{user.first_name},
        p This is your reset key to reset your password:
        p
            b #{hash}
        p Or follow the link below to reset your password:
        p
            a(href="#{config.app.url + '/reset-password/' + hash}") Reset Password
        p If you did not request password recover, simply ignore this email. Reset key will last for 12 hours.