extends ../layouts/frontend

block content
    div(style="margin: 200px auto 0 auto; max-width: 320px;")
        include ../partial/flash

        div.panel.panel-default
            div.panel-body
                form#signinForm(method="post", action="/signin")
                    div.form-group
                        input.form-control(type="text", name="user_name", placeholder="Username")
                    div.form-group
                        input.form-control(type="password", name="password", placeholder="Password")
                    div.form-group
                        button.left.btn.btn-primary(type="submit") SIGN IN
                        a.left.btn.btn-info(type="submit", style="margin-left: 10px", href="/forgot-password") FORGOT PASSWORD

        div.d-separator
            span or

        p.text-center
            a.btn.btn-info(href="/") VISIT WEBSITE

block footerScript
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Form validator
            $('#signinForm').bootstrapValidator({
                fields: {
                    user_name: {
                        validators: {
                            notEmpty: {
                                message: 'The username is required'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required'
                            }
                        }
                    }
                }
            });
        });