extends ../layouts/backend

block head
    link(rel="stylesheet", href="/vendor/codemirror/lib/codemirror.css")

block topnav
    form.nav.navbar-form.navbar-left(method="get", action="/admin/post")
        div.form-group
            input.form-control(name="q", placeholder="Search for posts", style="width: 300px")
        button.btn.btn-primary.btn-sm(type="submit")
            i.fa.fa-search

    div.nav.navbar-form.navbar-left
        a.btn.btn-sm.btn-info(href="/admin/post/add")
            i.fa.fa-plus
            | &nbsp;WRITE NEW POST

block content
    ol.breadcrumb
        li
            a(href="/admin/post") Posts
        li.active Write new post

    include ../partial/flash

    form#addForm.form-horizontal(method="post", action="/admin/post/add")
        div.form-group
            div.col-sm-6
                input.form-control(name="title", placeholder="Title")
            div.col-sm-6
                input.form-control(name="slug", placeholder="Slug")

        if categories
            div.form-group
                div.col-sm-6
                    p.form-control-static Categories
                    for category in categories
                        div.checkbox
                            label
                                input(type="checkbox", name="categories[]", value="#{category._id}")
                                | #{category.name}

        div.form-group
            div.col-sm-12
                ul#editorTabs.nav.nav-tabs
                    li.active
                        a(href="#contentTab", data-toggle="tab") Content
                    li
                        a(href="#previewTab", data-toggle="tab") Preview

                div.tab-content
                    div#contentTab.tab-pane.active
                        div#editorContainer.d-markdown-editor
                            textarea#editor.form-control(name="content", style="height: 100%;")
                    div#previewTab.tab-pane
                        div#previewContainer
                            div.d-markdown-preview(style="height: 100%;")

        div#buttons.form-group
            div.col-sm-12
                button.btn.btn-primary(type="submit") SAVE
                button.btn.btn-default(type="submit", name="publish", value="true") SAVE and PUBLISH
                button.btn.btn-default(type="submit", name="draft", value="true") SAVE as DRAFT

block footerScript
    script(type="text/javascript", src="/vendor/autosave/jquery.autosave.min.js")
    script(type="text/javascript", src="/vendor/codemirror/lib/codemirror.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/markdown/markdown.js")
    script(type="text/javascript", src="/vendor/marked/marked.js")
    script(type="text/javascript").
        $(document).ready(function() {
            var editorContainerHeight = $(document).height() - $('#buttons').outerHeight(true) - $('footer').outerHeight(true),
                editorHeight          = editorContainerHeight - $('#editorContainer').offset().top - 20;
            $('#editorContainer').height(editorHeight);
            $('#previewContainer').height(editorHeight);

            // Markdown editor
            var editor = CodeMirror.fromTextArea($('#editor').get(0), {
                mode: 'markdown',
                lineNumbers: false,
                matchBrackets: true,
                lineWrapping: true,
                theme: 'default'
            });
            editor.setSize('100%', editorHeight);

            // Preview the content
            $('#editorTabs a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');

                if ($(this).attr('href') == '#previewTab') {
                    var content = editor.getDoc().getValue();
                    $('.d-markdown-preview').html(marked(content));
                }
            });

            $('#addForm')
                // Generate slug based on post's title
                .find('input[name="title"]')
                    .on('keyup', function() {
                        var title = $(this).val(), $slug = $('#addForm').find('input[name="slug"]')
                        if (title == '') {
                            $slug.val('');
                            return;
                        }
                        $.ajax({
                            type: 'POST',
                            url: '/admin/post/slug',
                            data: {
                                title: title
                            },
                            dataType: 'json'
                        }).success(function(response) {
                            $slug.val(response.slug);
                        });
                    })
                    .end()
                // Auto save
                .autosave({
                    callbacks: {
                        trigger: {
                            method: 'interval',
                            options: {
                                interval: #{autoSave * 60 * 1000}
                            }
                        },
                        scope: 'all',
                        data: 'serializeObject',
                        condition: function(options, $inputs, formData, caller) {
                            if (#{autoSave} <= 0 || null == formData || '' == formData.title || '' == formData.slug || '' == formData.content) {
                                return false;
                            }
                            return true;
                        },
                        save: function(options, formData) {
                            $.ajax({
                                type: 'POST',
                                url: $('#addForm').attr('action'),
                                data: formData,
                                dataType: 'json'
                            }).success(function(response) {
                                if ('ok' == response.result) {
                                    $('#addForm').attr('action', response.url);
                                }
                            });
                        }
                    }
                });
        });

