extends ../layouts/backend

block content
    ol.breadcrumb
        li.active Categories

    table#categoryTable.table.table-hover
        thead
            tr
                th.col-lg-1 Position
                th.col-lg-4 Name
                th.col-lg-4 Slug
                th Actions
            tr
                td
                td
                    input#name.form-control.categoryName(type="text")
                td
                    input#slug.form-control.categorySlug(type="text")
                td
                    button#addCategory.btn.btn-success.btn-sm(type="button")
                        i.fa.fa-plus
                        |  Add
            tr#template.hide
                td ##position##
                td ##name##
                td ##slug##
                td
                    div.btn-group
                        button.btn.btn-default.editButton.btn-sm(type="button") Edit
                        button.btn.btn-warning.deleteButton.btn-sm(type="button") Delete
            tr#editTemplate.hide.active.editRow
                td#editPosition
                td
                    input#editName.form-control.categoryName(type="text")
                td
                    input#editSlug.form-control.categorySlug(type="text")
                td
                    button.btn.btn-primary.btn-sm.saveButton(type="button") Save
                    button.btn.btn-default.btn-sm.cancelButton(type="button") Cancel
        tbody#categories
            if categories
                for category in categories
                    tr(data-id="#{category._id}")
                        td #{category.position + 1}
                        td #{category.name}
                        td #{category.slug}
                        td
                            div.btn-group
                                button.btn.btn-default.btn-sm.editButton(type="button") Edit
                                button.btn.btn-warning.btn-sm.deleteButton(type="button") Delete

    div#deleteDialog.modal.fade(aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Delete category
                div.modal-body Are you sure you want to delete the category?
                div.modal-footer
                    button.btn.btn-danger.yesButton(type="button") Yes
                    button.btn(type="button", data-dismiss="modal") No

    div#messageDialog.modal.fade(aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Message
                div.modal-body
                    span.message
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close

block footerScript
    script(type="text/javascript", src="/vendor/jquery-ui/js/jquery-ui-1.10.3.custom.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            // Generate slug based on category's name
            $('#categoryTable').on('keyup', '.categoryName', function() {
                var name = $(this).val(), $that = $(this), $tr = $that.parents('tr'), $slug = $tr.find('.categorySlug');
                if (name == '') {
                    $slug.val('');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/slug',
                    data: {
                        id: $tr.attr('data-id'),
                        name: name
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $slug.val(response.slug);
                });
            });

            // Add new category
            $('#addCategory').on('click', function() {
                var $that = $(this), name = $('#name').val(), slug = $('#slug').val();
                if (name == '' || slug == '') {
                    return;
                }
                $that.attr('disabled', 'disabled');
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/add',
                    data: {
                        name: name,
                        slug: slug
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $that.removeAttr('disabled');
                    if ('ok' == response.result) {
                        $('#name').val('');
                        $('#slug').val('');
                        var template = $('#template').html().replace(/##position##/g, response.position + 1)
                                                            .replace(/##name##/g, name)
                                                            .replace(/##slug##/g, slug);
                        $('<tr/>')
                            .html(template)
                            .attr('data-id', response.id)
                            .appendTo('#categories');
                    }
                });
            });

            // Edit category
            $('#editTemplate')
                .on('save.category', function() {
                    var name = $('#editName').val(), slug = $('#editSlug').val();
                    if (name == '' || slug == '') {
                        return;
                    }

                    $('#saveButton').attr('disabled', 'disabled');
                    $.ajax({
                        type: 'post',
                        url: '/admin/category/edit',
                        data: {
                            id: $('#editTemplate').data('currentRow').attr('data-id'),
                            name: name,
                            slug: slug
                        },
                        dataType: 'json'
                    }).done(function(response) {
                        $('#saveButton').removeAttr('disabled');
                        if ('ok' == response.result) {
                            $('#editTemplate')
                                .data('currentRow')
                                    .find('td')
                                        .eq(1).html(name).end()
                                        .eq(2).html(slug);
                            $('#editTemplate').trigger('cancel.category');
                        } else {
                            $('#messageDialog')
                                .find('.message')
                                    .html('Sorry, cannot update the category')
                                    .end()
                                .modal('show');
                        }
                    });
                })
                .on('cancel.category', function() {
                    var currentEditRow = $(this).removeAttr('data-id').hide().data('currentRow');
                    if (currentEditRow) {
                        $(currentEditRow).show();
                    }
                })
                .on('click', '.saveButton', function() {
                    $('#editTemplate').trigger('save.category');
                })
                .on('click', '.cancelButton', function() {
                    $('#editTemplate').trigger('cancel.category');
                });

            // Delete category
            $('#categories')
                .on('click', '.deleteButton', function() {
                    var $that = $(this), id = $that.parents('tr').attr('data-id');
                    $that.attr('disabled', 'disabled');

                    var deleteDialog = $('#deleteDialog');
                    deleteDialog
                        .on('hidden.bs.modal', function() {
                            $that.removeAttr('disabled');
                        })
                        // Yes button click handler
                        .find('.yesButton')
                            .off('click')
                            .on('click', function() {
                                $.ajax({
                                    type: 'post',
                                    url: '/admin/category/remove',
                                    data: {
                                        id: id
                                    },
                                    dataType: 'json'
                                }).done(function(response) {
                                    $that.removeAttr('disabled');
                                    if ('ok' == response.result) {
                                        $that.parents('tr').remove();
                                        $('#categories').find('tr').each(function(index, row) {
                                            $(row).find('td').eq(0).html(index + 1);
                                        });
                                    }
                                    deleteDialog.modal('hide');
                                });
                            })
                            .end()
                        .modal('show');
                })
                .on('click', '.editButton', function() {
                    $('#editTemplate').trigger('cancel');

                    var $that    = $(this),
                        $row     = $that.parents('tr'),
                        position = $row.find('td').eq(0).html(),
                        name     = $row.find('td').eq(1).html(),
                        slug     = $row.find('td').eq(2).html();

                    $('#editPosition').html(position);
                    $('#editName').val(name);
                    $('#editSlug').val(slug);
                    $('#editTemplate').data('currentRow', $row).insertAfter($row).removeClass('hide').attr('data-id', $row.attr('data-id')).show();
                    $row.hide();
                })
                // Change the order of categories
                .sortable({
                    // Simple fix to ensure the width of dropped cells as it is
                    helper: function(e, ui) {
                        ui.children().each(function() {
                            $(this).width($(this).width());
                        });
                        return ui;
                    },
                    stop: function(e, ui) {
                        var index = $('#categories').find('tr:not(.editRow)').index(ui.item), id = $(ui.item).attr('data-id');
                        $.ajax({
                            url: '/admin/category/order',
                            data: {
                                id: id,
                                position: index
                            },
                            dataType: 'json',
                            type: 'post'
                        }).success(function(response) {
                            if ('ok' == response.result) {
                                $('#categories').find('tr').each(function(index, row) {
                                    $(row).find('td').eq(0).html(index + 1);
                                });
                            }
                        });
                    }
                })
                .disableSelection();
        });