extends ../layouts/backend

block content
    ol.breadcrumb
        li.active Categories

    table#categoryTable.table.table-hover
        thead
            tr
                th.col-lg-4 Name
                th.col-lg-4 Slug
                th Actions
            tr
                td
                    input#name.form-control.categoryName(type="text")
                td
                    input#slug.form-control.categorySlug(type="text")
                td
                    button#addCategory.btn.btn-success.btn-sm(type="button")
                        i.fa.fa-plus
                        |  Add
            tr#template.hide
                td ##name##
                td ##slug##
                td
                    div.btn-group
                        button.btn.btn-default.editButton.btn-sm(type="button") Edit
                        button.btn.btn-warning.deleteButton.btn-sm(type="button") Delete
            tr#editTemplate.hide.active.editRow
                td
                    input#editName.form-control.categoryName(type="text")
                td
                    input#editSlug.form-control.categorySlug(type="text")
                td
                    button#saveButton.btn.btn-primary.btn-sm(type="button") Save
                    button#cancelButton.btn.btn-default.btn-sm(type="button") Cancel
        tbody#categories
            if categories
                for category in categories
                    tr(data-id="#{category->_id}")
                        td #{category.name}
                        td #{category.slug}
                        td
                            div.btn-group
                                button.btn.btn-default.btn-sm.editButton(type="button") Edit
                                button.btn.btn-warning.btn-sm.deleteButton(type="button") Delete

div#deleteDialog.modal.fade.in
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title Delete category
            div.modal-body Are you sure you want to delete the category?
            div.modal-footer
                button.btn.btn-danger.yesButton Yes
                button.btn.noButton No

div#messageDialog.modal.fade
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                h4.modal-title Message
            div.modal-body
                span.message
            div.modal-footer
                button.btn.closeButton Close

block footerScript
    script(type="text/javascript").
        $(document).ready(function() {
            // Generate slug based on category's name
            $('#categoryTable').on('keyup', '.categoryName', function() {
                var name = $(this).val(), $that = $(this), $slug = $that.parents('tr').find('.categorySlug');
                if (name == '') {
                    $slug.val('');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/slug',
                    data: {
                        name: name
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $slug.val(response.slug);
                });
            });

            // Add new category
            $('#addCategory').on('click', function() {
                var $that = $(this), name = $('#name').val(), slug = $('#slug').val();
                if (name == '' || slug == '') {
                    return;
                }
                $that.attr('disabled', 'disabled');
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/add',
                    data: {
                        name: name,
                        slug: slug
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $that.removeAttr('disabled');
                    if ('ok' == response.result) {
                        $('#name').val('');
                        $('#slug').val('');
                        var template = $('#template').html().replace(/##name##/g, name)
                                                            .replace(/##slug##/g, slug);
                        $('<tr/>').html(template)
                                  .attr('data-id', response.id)
                                  .appendTo('#categories');
                    }
                });
            });
        });