extends ../layouts/backend

block content
    ol.breadcrumb
        li.active Categories

    table#categoryTable.table.table-hover
        thead
            tr
                th.col-lg-4 Name
                th.col-lg-4 Slug
                th Actions
            tr
                td
                    input#name.form-control.categoryName(type="text")
                td
                    input#slug.form-control.categorySlug(type="text")
                td
                    button#addCategory.btn.btn-success.btn-sm(type="button")
                        i.fa.fa-plus
                        |  Add
            tr#template.hide
                td ##name##
                td ##slug##
                td
                    div.btn-group
                        button.btn.btn-default.editButton.btn-sm(type="button") Edit
                        button.btn.btn-warning.deleteButton.btn-sm(type="button") Delete
            tr#editTemplate.hide.active.editRow
                td
                    input#editName.form-control.categoryName(type="text")
                td
                    input#editSlug.form-control.categorySlug(type="text")
                td
                    button#saveButton.btn.btn-primary.btn-sm(type="button") Save
                    button#cancelButton.btn.btn-default.btn-sm(type="button") Cancel
        tbody#categories
            if categories
                for category in categories
                    tr(data-id="#{category._id}")
                        td #{category.name}
                        td #{category.slug}
                        td
                            div.btn-group
                                button.btn.btn-default.btn-sm.editButton(type="button") Edit
                                button.btn.btn-warning.btn-sm.deleteButton(type="button") Delete

    div#deleteDialog.modal.fade(aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Delete category
                div.modal-body Are you sure you want to delete the category?
                div.modal-footer
                    button.btn.btn-danger.yesButton(type="button") Yes
                    button.btn(type="button", data-dismiss="modal") No

    div#messageDialog.modal.fade(aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h4.modal-title Message
                div.modal-body
                    span.message
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close

block footerScript
    script(type="text/javascript").
        $(document).ready(function() {
            // Generate slug based on category's name
            $('#categoryTable').on('keyup', '.categoryName', function() {
                var name = $(this).val(), $that = $(this), $tr = $that.parents('tr'), $slug = $tr.find('.categorySlug');
                if (name == '') {
                    $slug.val('');
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/slug',
                    data: {
                        id: $tr.attr('data-id'),
                        name: name
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $slug.val(response.slug);
                });
            });

            // Add new category
            $('#addCategory').on('click', function() {
                var $that = $(this), name = $('#name').val(), slug = $('#slug').val();
                if (name == '' || slug == '') {
                    return;
                }
                $that.attr('disabled', 'disabled');
                $.ajax({
                    type: 'POST',
                    url: '/admin/category/add',
                    data: {
                        name: name,
                        slug: slug
                    },
                    dataType: 'json'
                }).success(function(response) {
                    $that.removeAttr('disabled');
                    if ('ok' == response.result) {
                        $('#name').val('');
                        $('#slug').val('');
                        var template = $('#template').html().replace(/##name##/g, name)
                                                            .replace(/##slug##/g, slug);
                        $('<tr/>')
                            .html(template)
                            .attr('data-id', response.id)
                            .appendTo('#categories');
                    }
                });
            });

            // Delete category
            $('#categories').on('click', '.deleteButton', function() {
                var $that = $(this), id = $that.parents('tr').attr('data-id');
                $that.attr('disabled', 'disabled');

                var deleteDialog = $('#deleteDialog');
                deleteDialog
                    .on('hidden.bs.modal', function() {
                        $that.removeAttr('disabled');
                    })
                    // Yes button click handler
                    .find('.yesButton')
                        .off('click')
                        .on('click', function() {
                            $.ajax({
                                type: 'post',
                                url: '/admin/category/remove',
                                data: {
                                    id: id
                                },
                                dataType: 'json'
                            }).done(function(response) {
                                $that.removeAttr('disabled');
                                if ('ok' == response.result) {
                                    $that.parents('tr').remove();
                                }
                                deleteDialog.modal('hide');
                            });
                        })
                        .end()
                    .modal('show');
            });

            // Edit category
            $('#editTemplate')
                .on('save', function() {
                    var name = $('#editName').val(), slug = $('#editSlug').val();
                    if (name == '' || slug == '') {
                        return;
                    }

                    $('#saveButton').attr('disabled', 'disabled');
                    $.ajax({
                        type: 'post',
                        url: '/admin/category/edit',
                        data: {
                            id: $('#editTemplate').data('currentRow').attr('data-id'),
                            name: name,
                            slug: slug
                        },
                        dataType: 'json'
                    }).done(function(response) {
                        $('#saveButton').removeAttr('disabled');
                        if ('ok' == response.result) {
                            $('#editTemplate')
                                .data('currentRow')
                                    .find('td')
                                        .eq(0).html(name).end()
                                        .eq(1).html(slug);
                            $('#editTemplate').trigger('cancel');
                        } else {
                            $('#messageDialog')
                                .find('.message')
                                    .html('Sorry, cannot update the category')
                                    .end()
                                .modal('show');
                        }
                    });
                })
                .on('cancel', function() {
                    var currentEditRow = $(this).removeAttr('data-id').hide().data('currentRow');
                    if (currentEditRow) {
                        $(currentEditRow).show();
                    }
                });
            $('#saveButton').on('click', function() {
                $('#editTemplate').trigger('save');
            });
            $('#cancelButton').on('click', function() {
                $('#editTemplate').trigger('cancel');
            });

            $('#categories').on('click', '.editButton', function() {
                $('#editTemplate').trigger('cancel');

                var $that = $(this),
                    $row  = $that.parents('tr'),
                    name  = $row.find('td').eq(0).html(),
                    slug  = $row.find('td').eq(1).html();

                $('#editName').val(name);
                $('#editSlug').val(slug);
                $('#editTemplate').data('currentRow', $row).insertAfter($row).removeClass('hide').attr('data-id', $row.attr('data-id')).show();
                $row.hide();
            });
        });