// Variables
$fontFamily: 'Droid Serif', sans-serif;
$footerHeight: 80px;
$navbarHeight: 45px;
$headerHeight: 50px;
$tocPaddingLevel: 25px;

body {
  font-family: $fontFamily;
  //font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamily;
}
h1, h2, h3, h4 {
  font-weight: bold;
}

.heading {
  background-color: #2980b9;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 80px;
  margin-bottom: 50px;
  h1 {
    margin-bottom: 40px;
    font-weight: 700;
    a {
      color: #fff;
    }
  }
}
.topics {
  margin-top: 50px;
  text-align: center;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style: none;
    padding: 10px;
    &:first-child {
      display: none;
    }
  }
  a {
    color: #f1c40f;
    font-size: 20px;
  }
  li.active {
    a {
      color: #fff;
    }
  }
}

.post {
  position: relative;
  width: 100%;
  height: 100%;
}
.post-header {
  position: fixed;
  overflow: visible;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: $headerHeight + 1;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  z-index: 1000;
  a, a:hover {
    color: #999;
  }
  .btn {
    border: none;
    border-radius: 0;
    display: block;
    height: $headerHeight;
    line-height: $headerHeight;
    padding: 0 15px;
    &:hover {
      background: #e5e5e5;
    }
  }
  h1 {
    font-weight: normal;
    line-height: $headerHeight;
    margin: 0;
    padding: 0 150px;
    text-align: center;
  }
  form {
    width: 200px;
    input {
      margin: ($headerHeight - 34)/2;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
}
.post-toc {
  background: #fff;
  border-right: 1px solid #e7e7e7;
  position: fixed;
  left: -250px;
  bottom: 0;
  top: $headerHeight;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  hr {
    margin: 0 auto;
    width: 150px;
  }
  .post-toc-inner {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;*/
  }

  // For using with Bootstrap 3
  .nav > .active {
    > a,
    &:hover > a,
    :focus > a {
      background: #f5f5f5;
      border-right: 2px solid #2ecc71;
    }
  }

  .nav>li>a {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  // Second level
  .nav .nav {
    display: none;/* Hide the sub ULs */
    margin-bottom: 0px;
    > li > a {
      font-size: 90%;
    }
  }

  // Children links
  .post-toc-level2 {
    padding-left: $tocPaddingLevel;
  }
  .post-toc-level3 {
    padding-left: $tocPaddingLevel * 2;
  }
  .post-toc-level4 {
    padding-left: $tocPaddingLevel * 3;
  }
  .post-toc-level5 {
    padding-left: $tocPaddingLevel * 4;
  }
  .post-toc-level6 {
    padding-left: $tocPaddingLevel * 5;
  }
}
.post-meta {
  padding: 10px;
}
.post-body {
  background: #fff;
  position: absolute;
  top: $headerHeight;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
  padding-bottom: 40px;

  .post-body-inner {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;*/
  }
}
.post-content {
  blockquote {
    border-left: 4px solid #16a085;
    background: #ecf0f1;
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;
    }
  }
  h2 {
    padding-top: $headerHeight + 10px;
    &:first-child {
      padding-top: 0;
    }
  }
  hr {
    margin-top: 0;
  }
  pre {
    border: 1px solid #ccc;
  }
  code {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 4px;
  }
  pre code {
    border: none;
  }
  img {
    margin: 15px 0;
  }
}
.post.post-with-toc {
  .post-toc {
    left: 0;
  }
  .post-body {
    left: 250px;
  }
}

.post-comments {
  h2 {
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    margin: 60px 0 30px 0;
    text-align: center;
    span {
      background: #fff;
    }
  }
}

/* Errors */
.error {
  text-align: center;
  h2 {
    color: #f1c40f;
    font-size: 300px;
  }
}

// Responsive
@media screen and (min-width: 992px) and (min-height: 700px) {
  .post-toc {
    .nav > .active > ul {
      display: block;
    }
  }
}

// Sticky footer
html, body {
  height: 100%;
}
.d-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -#{$footerHeight} auto;
}
.d-main {
  /*padding-top: $navbarHeight;*/
}
.d-push {
  height: $footerHeight;
}
footer {
  border-top: 1px solid #c0c0c0;
  height: $footerHeight - 1;

  .container {
    padding-top: 8px;
  }
}

// Helpers
.d-separator {
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.1em;
  margin: 30px 0;
  text-align: center;
  width: 100%;
  span {
    background: #fff;
    padding: 0 10px;
  }
}

.d-post-meta {
  a {
    margin: 0 5px;
  }
}
.d-post-content {

}
.d-post-feedback {
  margin: 10px 0;
}
.d-post-comments {
  margin: 40px 0;
}

// Table of contents
.d-post-toc {
  &.affix {
    position: static;
    top: 60px;
  }
}

// Scroll up
.d-scrollup {
  bottom: -50px;
  display: block;
  font-size: 25px;
  padding: 3px;
  position: fixed;
  right: 20px;
  /*z-index: 1000;*/
}

@media (min-width: 992px) {
  .d-post-toc {
    .nav > .active > ul {
      display: block;
    }

    &.affix {
      position: fixed;      // Undo the static from mobile first approach
      top: 80px;
      width: 213px;         // Widen the fixed sidebar
    }
    &.affix-bottom {
      position: absolute;   // Undo the static from mobile first approach
      width: 213px;
    }
    &.affix-bottom .bs-sidenav,
    &.affix .bs-sidenav {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  // Widen the fixed sidebar again
  .d-post-toc {
    &.affix, &.affix-bottom {
      width: 263px;
    }
  }
}

// feedback button


#post-feedback {
  form {
    display: inline-block;
    margin-left: 10px;
  }
  .feedback-button {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    padding: 0 10px;
    line-height: 24px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid #d5d5d5;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    margin-left: 3px;
  }
  .feedback-button[disabled] {
    cursor: default !important;
  }
  .green {
    background-color: #60b044;
    background-image: -moz-linear-gradient(#8CCF75, #60b044);
    background-image: -webkit-linear-gradient(#8CCF75, #60b044);
    background-image: linear-gradient(#8CCF75, #60b044);
    background-repeat: repeat-x;
    border-color: #5ca941;
  }

  .green.active, .green:active {
    background-image: -moz-linear-gradient(#60b044, #8CCF75);
    background-image: -webkit-linear-gradient(#60b044, #8CCF75);
    background-image: linear-gradient(#60b044, #8CCF75);
  }
  .red {
    background-color: #FF5A5A;
    background-image: -moz-linear-gradient(#FF5A5A, #BE0000);
    background-image: -webkit-linear-gradient(#FF5A5A, #BE0000);
    background-image: linear-gradient(#FF5A5A, #BE0000);
    background-repeat: repeat-x;
    border-color: #BE0000;
  }
  .red.active, .red:active {
    background-image: -moz-linear-gradient(#BE0000, #FF5A5A);
    background-image: -webkit-linear-gradient(#BE0000, #FF5A5A);
    background-image: linear-gradient(#BE0000, #FF5A5A);
  }
}

.d-post-stats {
  .d-post-meta-feedback {
    text-align: right;

    span.d-post-feedback {
      display: inline-block;
      margin-left: 10px;
      color: #666666;
      font-size: 14px;
    }
  }

  .d-post-meta-feedback-bar {
    height: 3px;
    margin: 4px 0;
    width: 100%;
    overflow: hidden;

    .d-post-meta-bar-like {
      height: 3px;
      background-color: #2793e6;
      float: left
    }

    .d-post-meta-bar-dislike {
      height: 3px;
      background-color: #c7254e;
      float: left;
    }
  }
}