body {
  font-family: "Droid Serif", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Serif", sans-serif; }

h1, h2, h3, h4 {
  font-weight: bold; }

.heading {
  background-color: #2980b9;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 80px;
  margin-bottom: 50px; }
  .heading h1 {
    margin-bottom: 40px;
    font-weight: 700; }
    .heading h1 a {
      color: #fff; }

.topics {
  margin-top: 50px;
  text-align: center; }
  .topics ul {
    margin: 0;
    padding: 0; }
  .topics li {
    display: inline;
    list-style: none;
    padding: 10px; }
    .topics li:first-child {
      display: none; }
  .topics a {
    color: #f1c40f;
    font-size: 20px; }
  .topics li.active a {
    color: #fff; }

.post {
  position: relative;
  width: 100%;
  height: 100%; }

.post-header {
  position: fixed;
  overflow: visible;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 51px;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  z-index: 1000; }
  .post-header a, .post-header a:hover {
    color: #999; }
  .post-header .btn {
    border: none;
    border-radius: 0;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 15px; }
    .post-header .btn:hover {
      background: #e5e5e5; }
  .post-header h1 {
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    padding: 0 150px;
    text-align: center; }
  .post-header form {
    width: 200px; }
    .post-header form input {
      margin: 8px; }
  .post-header .dropdown-menu {
    border-radius: 0;
    margin: 0;
    padding: 0; }

.post-toc {
  background: #fff;
  border-right: 1px solid #e7e7e7;
  position: fixed;
  left: -250px;
  bottom: 0;
  top: 50px;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }
  .post-toc hr {
    margin: 0 auto;
    width: 150px; }
  .post-toc .post-toc-inner {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;*/ }
  .post-toc .nav > .active > a, .post-toc .nav > .active:hover > a,
  .post-toc .nav > .active :focus > a {
    background: #f5f5f5;
    border-right: 2px solid #2ecc71; }
  .post-toc .nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px; }
  .post-toc .nav .nav {
    display: none;
    /* Hide the sub ULs */
    margin-bottom: 0px; }
    .post-toc .nav .nav > li > a {
      font-size: 90%; }
  .post-toc .post-toc-level2 {
    padding-left: 25px; }
  .post-toc .post-toc-level3 {
    padding-left: 50px; }
  .post-toc .post-toc-level4 {
    padding-left: 75px; }
  .post-toc .post-toc-level5 {
    padding-left: 100px; }
  .post-toc .post-toc-level6 {
    padding-left: 125px; }

.post-meta {
  padding: 10px; }

.post-body {
  background: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: left .5s ease;
  transition: left .5s ease;
  padding-bottom: 40px; }
  .post-body .post-body-inner {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;*/ }

.post-content blockquote {
  border-left: 4px solid #16a085;
  background: #ecf0f1; }
  .post-content blockquote p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75; }
.post-content h2 {
  padding-top: 60px; }
  .post-content h2:first-child {
    padding-top: 0; }
.post-content hr {
  margin-top: 0; }
.post-content pre {
  border: 1px solid #ccc; }
.post-content code {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 4px; }
.post-content pre code {
  border: none; }
.post-content img {
  margin: 15px 0; }

.post.post-with-toc .post-toc {
  left: 0; }
.post.post-with-toc .post-body {
  left: 250px; }

.post-comments h2 {
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
  margin: 60px 0 30px 0;
  text-align: center; }
  .post-comments h2 span {
    background: #fff; }

@media screen and (min-width: 992px) and (min-height: 700px) {
  .post-toc .nav > .active > ul {
    display: block; } }
html, body {
  height: 100%; }

.d-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.d-main {
  /*padding-top: $navbarHeight;*/ }

.d-push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.d-separator {
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.1em;
  margin: 30px 0;
  text-align: center;
  width: 100%; }
  .d-separator span {
    background: #fff;
    padding: 0 10px; }

.d-post-meta a {
  margin: 0 5px; }

.d-post-feedback {
  margin: 10px 0; }

.d-post-comments {
  margin: 40px 0; }

.d-post-toc.affix {
  position: static;
  top: 60px; }

.d-scrollup {
  bottom: -50px;
  display: block;
  font-size: 25px;
  padding: 3px;
  position: fixed;
  right: 20px;
  /*z-index: 1000;*/ }

@media (min-width: 992px) {
  .d-post-toc .nav > .active > ul {
    display: block; }
  .d-post-toc.affix {
    position: fixed;
    top: 80px;
    width: 213px; }
  .d-post-toc.affix-bottom {
    position: absolute;
    width: 213px; }
  .d-post-toc.affix-bottom .bs-sidenav, .d-post-toc.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .d-post-toc.affix, .d-post-toc.affix-bottom {
    width: 263px; } }
#post-feedback form {
  display: inline-block;
  margin-left: 10px; }
#post-feedback .feedback-button {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  line-height: 24px;
  display: inline-block;
  font-size: 13px;
  border: 1px solid #d5d5d5;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  border-radius: 4px;
  margin-left: 3px; }
#post-feedback .feedback-button[disabled] {
  cursor: default !important; }
#post-feedback .green {
  background-color: #60b044;
  background-image: -moz-linear-gradient(#8ccf75, #60b044);
  background-image: -webkit-linear-gradient(#8ccf75, #60b044);
  background-image: linear-gradient(#8ccf75, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941; }
#post-feedback .green.active, #post-feedback .green:active {
  background-image: -moz-linear-gradient(#60b044, #8ccf75);
  background-image: -webkit-linear-gradient(#60b044, #8ccf75);
  background-image: linear-gradient(#60b044, #8ccf75); }
#post-feedback .red {
  background-color: #FF5A5A;
  background-image: -moz-linear-gradient(#ff5a5a, #be0000);
  background-image: -webkit-linear-gradient(#ff5a5a, #be0000);
  background-image: linear-gradient(#ff5a5a, #be0000);
  background-repeat: repeat-x;
  border-color: #BE0000; }
#post-feedback .red.active, #post-feedback .red:active {
  background-image: -moz-linear-gradient(#be0000, #ff5a5a);
  background-image: -webkit-linear-gradient(#be0000, #ff5a5a);
  background-image: linear-gradient(#be0000, #ff5a5a); }

.d-post-stats .d-post-meta-feedback {
  text-align: right; }
  .d-post-stats .d-post-meta-feedback span.d-post-feedback {
    display: inline-block;
    margin-left: 10px;
    color: #666666;
    font-size: 14px; }
.d-post-stats .d-post-meta-feedback-bar {
  height: 3px;
  margin: 4px 0;
  width: 100%;
  overflow: hidden; }
  .d-post-stats .d-post-meta-feedback-bar .d-post-meta-bar-like {
    height: 3px;
    background-color: #2793e6;
    float: left; }
  .d-post-stats .d-post-meta-feedback-bar .d-post-meta-bar-dislike {
    height: 3px;
    background-color: #c7254e;
    float: left; }
