// Variables
$footerHeight: 80px;
$navbarHeight: 45px;

// Sticky footer
html, body {
  height: 100%;
}
.d-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -#{$footerHeight} auto;
}
.d-main {
  padding-top: $navbarHeight;
}
.d-push {
  height: $footerHeight;
}
footer {
  border-top: 1px solid #c0c0c0;
  height: $footerHeight - 1;

  .container {
    padding-top: 8px;
  }
}

// Helpers
.d-separator {
  border-top: 1px solid #e5e5e5;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  text-align: center;

  legend {
    padding: 5px 10px;
    // Overwrite Bootstrap
    border-bottom: none;
    width: auto;
  }
}

.d-post-meta {
  a {
    margin: 0 5px;
  }
}
.d-post-content {
  h2 {
    padding-top: $navbarHeight + 10;
    &:first-child {
      padding-top: 0;
    }
  }
}
.d-post-comments {
  margin: 40px 0;
}

// Table of contents
.d-post-toc {
  &.affix {
    top: 60px;
  }
}


// scroll up
#scrollup {
  position: fixed;
  bottom: -50px;
  right: 20px;
  z-index: 1000;
  font-size: 25px;
  display: block;
  padding: 3px;
}