html, body {
  height: 100%; }

.d-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.d-main {
  padding-top: 45px; }

.d-push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.d-separator {
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.1em;
  margin: 30px 0;
  text-align: center;
  width: 100%; }
  .d-separator span {
    background: #fff;
    padding: 0 10px; }

.d-post-meta a {
  margin: 0 5px; }

.d-post-content h2 {
  padding-top: 55px; }
  .d-post-content h2:first-child {
    padding-top: 0; }

.d-post-feedback {
  margin: 10px 0; }

.d-post-comments {
  margin: 40px 0; }

.d-post-toc.affix {
  position: static;
  top: 60px; }

.d-scrollup {
  bottom: -50px;
  display: block;
  font-size: 25px;
  padding: 3px;
  position: fixed;
  right: 20px;
  z-index: 1000; }

@media (min-width: 992px) {
  .d-post-toc .nav > .active > ul {
    display: block; }
  .d-post-toc.affix {
    position: fixed;
    top: 80px;
    width: 213px; }
  .d-post-toc.affix-bottom {
    position: absolute;
    width: 213px; }
  .d-post-toc.affix-bottom .bs-sidenav, .d-post-toc.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .d-post-toc.affix, .d-post-toc.affix-bottom {
    width: 263px; } }
#post-feedback form {
  display: inline-block;
  margin-left: 10px; }
#post-feedback .feedback-button {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 0 10px;
  line-height: 24px;
  display: inline-block;
  font-size: 13px;
  border: 1px solid #d5d5d5;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  border-radius: 4px;
  margin-left: 3px; }
#post-feedback .feedback-button[disabled] {
  cursor: default !important; }
#post-feedback .green {
  background-color: #60b044;
  background-image: -moz-linear-gradient(#8ccf75, #60b044);
  background-image: -webkit-linear-gradient(#8ccf75, #60b044);
  background-image: linear-gradient(#8ccf75, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941; }
#post-feedback .green.active, #post-feedback .green:active {
  background-image: -moz-linear-gradient(#60b044, #8ccf75);
  background-image: -webkit-linear-gradient(#60b044, #8ccf75);
  background-image: linear-gradient(#60b044, #8ccf75); }
#post-feedback .red {
  background-color: #FF5A5A;
  background-image: -moz-linear-gradient(#ff5a5a, #be0000);
  background-image: -webkit-linear-gradient(#ff5a5a, #be0000);
  background-image: linear-gradient(#ff5a5a, #be0000);
  background-repeat: repeat-x;
  border-color: #BE0000; }
#post-feedback .red.active, #post-feedback .red:active {
  background-image: -moz-linear-gradient(#be0000, #ff5a5a);
  background-image: -webkit-linear-gradient(#be0000, #ff5a5a);
  background-image: linear-gradient(#be0000, #ff5a5a); }

.d-post-stats .d-post-meta-feedback {
  text-align: right; }
  .d-post-stats .d-post-meta-feedback span.d-post-feedback {
    display: inline-block;
    margin-left: 10px;
    color: #666666;
    font-size: 14px; }
.d-post-stats .d-post-meta-feedback-bar {
  height: 3px;
  margin: 4px 0;
  width: 100%;
  overflow: hidden; }
  .d-post-stats .d-post-meta-feedback-bar .d-post-meta-bar-like {
    height: 3px;
    background-color: #2793e6;
    float: left; }
  .d-post-stats .d-post-meta-feedback-bar .d-post-meta-bar-dislike {
    height: 3px;
    background-color: #c7254e;
    float: left; }
