html, body {
  height: 100%; }

.d-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px auto; }

.d-main {
  padding-top: 45px; }

.d-push {
  height: 80px; }

footer {
  border-top: 1px solid #c0c0c0;
  height: 79px; }
  footer .container {
    padding-top: 8px; }

.d-separator {
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.1em;
  margin: 30px 0;
  text-align: center;
  width: 100%; }
  .d-separator span {
    background: #fff;
    padding: 0 10px; }

.d-post-meta a {
  margin: 0 5px; }

.d-post-content h2 {
  padding-top: 55px; }
  .d-post-content h2:first-child {
    padding-top: 0; }

.d-post-comments {
  margin: 40px 0; }

.d-post-toc.affix {
  position: static;
  top: 60px; }

.d-scrollup {
  bottom: -50px;
  display: block;
  font-size: 25px;
  padding: 3px;
  position: fixed;
  right: 20px;
  z-index: 1000; }

@media (min-width: 992px) {
  .d-post-toc .nav > .active > ul {
    display: block; }
  .d-post-toc.affix {
    position: fixed;
    top: 80px;
    width: 213px; }
  .d-post-toc.affix-bottom {
    position: absolute;
    width: 213px; }
  .d-post-toc.affix-bottom .bs-sidenav, .d-post-toc.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .d-post-toc.affix, .d-post-toc.affix-bottom {
    width: 263px; } }
