// Variables
$footerHeight: 80px;
$navbarHeight: 45px;

// Sticky footer
html, body {
  height: 100%;
}
.d-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -#{$footerHeight} auto;
}
.d-main {
  padding-top: $navbarHeight;
}
.d-push {
  height: $footerHeight;
}
footer {
  border-top: 1px solid #c0c0c0;
  height: $footerHeight - 1;

  .container {
    padding-top: 8px;
  }
}

// Helpers
.d-separator {
  border-bottom: 1px solid #e5e5e5;
  line-height: 0.1em;
  margin: 30px 0;
  text-align: center;
  width: 100%;

  span {
    background: #fff;
    padding: 0 10px;
  }
}

.d-post-meta {
  a {
    margin: 0 5px;
  }
}
.d-post-content {
  h2 {
    padding-top: $navbarHeight + 10;
    &:first-child {
      padding-top: 0;
    }
  }
}
.d-post-comments {
  margin: 40px 0;
}

// Table of contents
.d-post-toc {
  &.affix {
    top: 60px;
  }
}


// Scroll up
.d-scrollup {
  bottom: -50px;
  display: block;
  font-size: 25px;
  padding: 3px;
  position: fixed;
  right: 20px;
  z-index: 1000;
}

#toc.affix {
  position: static;
}

@media (min-width: 992px) {
  #toc .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  #toc.affix,
  #toc.affix-bottom {
    width: 213px;
  }
  #toc.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  #toc.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  #toc.affix-bottom .bs-sidenav,
  #toc.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  #toc.affix-bottom,
  #toc.affix {
    width: 263px;
  }
}