extends layouts/frontend

block content
    div.heading
        div.container
            div.row
                h1.text-center
                    a(href="#{config.app.url}") #{config.app.name}

                div.col-md-6.col-md-offset-3
                    form(method="get", action="/search")
                        div.input-group.input-group-lg
                            input.form-control(type="text", name="q", placeholder="Search for guides")
                            span.input-group-btn
                                button.btn.btn-default(type="submit")
                                    i.fa.fa-search

    div.container
        div.row
            div.col-md-8.col-md-offset-2
                div.error
                    h2 Error
                    | #{error}