extends ../layouts/backend

block content
    ol.breadcrumb
        li
            a(href="/admin/user") Users
        li.active Add new user

    div.col-lg-8.col-lg-offset-2
        include ../partial/flash

        form#addAdminForm.form-horizontal(action="/admin/user/add", method="post")
            div.form-group
                label.control-label.col-lg-3 Full name
                div.col-lg-4
                    input.form-control(type="text", name="first_name", placeholder="First name")
                div.col-lg-4
                    input.form-control(type="text", name="last_name", placeholder="Last name")

            div.form-group
                label.control-label.col-lg-3 User name
                div.col-lg-6
                    input.form-control(type="text", name="username", autocomplete="off")

            div.form-group
                label.control-label.col-lg-3 Email address
                div.col-lg-6
                    input.form-control(type="text", name="email", autocomplete="off")

            div.form-group
                label.control-label.col-lg-3 Password
                div.col-lg-6
                    input.form-control(type="password", name="password")

            div.form-group
                label.control-label.col-lg-3 Retype password
                div.col-lg-6
                    input.form-control(type="password", name="confirm_password")

            div.form-group
                label.control-label.col-lg-3 Role
                div.col-lg-4
                    select.form-control(name="role")
                       option(value="admin") Administrator
                       option(value="root") Root

            div.form-group
                div.col-lg-9.col-lg-offset-3
                    button#saveButton.btn.btn-primary(type="submit") Add

block footerScript
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            $('#addAdminForm').bootstrapValidator({
                fields: {
                    first_name: {
                        validators: {
                            notEmpty: {
                                message: 'The first name is required'
                            }
                        }
                    },
                    username: {
                        validators: {
                            notEmpty: {
                                message: 'The username is required'
                            },
                            remote: {
                                url: '/admin/user/check/username',
                                message: 'The username is already taken by other administrator'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'The email is required'
                            },
                            remote: {
                                url: '/admin/user/check/email',
                                message: 'The email is already taken by other administrator'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required'
                            },
                            identical: {
                                field: 'confirm_password',
                                message: 'The password and confirmation one are not the same'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'The password must have at least 6 and less than 30 characters'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            notEmpty: {
                                message: 'You have to retype the password'
                            },
                            identical: {
                                field: 'password',
                                message: 'The password and confirmation one are not the same'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'The password must have at least 6 and less than 30 characters'
                            }
                        }
                    }
                }
            });
        });