extends default

block content
    div.page-header
        h2
            | Error!
            a.pull-right.btn.btn-success(href="/") Homepage
            div.row

        div.col-lg-8.col-lg-offset-2
            div.panel.panel-danger
                div.panel-body(style="max-height: 500px; overflow: scroll;")
                    | #{error}