extends ../layouts/backend

block content
    ol.breadcrumb
        li.active Setting
    div.col-lg-8.col-lg-offset-2
        include ../partial/flash
        if ( danger )
            div.alert.alert-danger
                button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
                strong #{alert}
        else if( alert != '')
            div.alert.alert-success
                button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
                strong #{alert}

        form#settingForm.form-horizontal(method='post', enctype="multipart/form-data")
            div.form-group
                label.control-label.col-lg-3 Website title
                div.col-lg-6
                    input(class="form-control", name="website_title", value="#{web_title}")
            div#action.form-group
                label.control-label.col-lg-3 Website header logo
                div.col-lg-6
                    select.form-control(name = 'action')
                       option Website name
                       option Website logo
            div#name.form-group
                label.control-label.col-lg-3 Website name
                div.col-lg-6
                     input(class="form-control", name="website_name", value="#{web_name}")

            div#logo.form-group
                label.control-label.col-lg-3 Website logo
                div.col-lg-6
                    input(type="file", name="image")

            div.form-group
                div.col-lg-9.col-lg-offset-3
                    button.btn.btn-primary(type="submit") Save

block footerScript
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            $('#settingForm').bootstrapValidator({
                fields: {
                    website_title: {
                        validators: {
                            notEmpty: {
                                message: 'The website title is required'
                            }
                        }
                    },
                    website_name: {
                        validators: {
                            notEmpty: {
                                message: 'The website name is required'
                            }
                        }
                    },
               }
            });

            $('#logo').hide();
            $('#action').on('change',function(){
                var action = $(this).find('select').val();
                switch(action){
                    case 'Website logo':
                        $('#logo').show();
                        $('#name').hide();
                        break;
                    case 'Website name':
                        $('#logo').hide();
                        $('#name').show();
                        break;
                }
            });
        });