extends layouts/default

block content
    div.d-separator
        span Not Found

    div.row
        div.col-lg-6.col-lg-offset-3.text-center
            p Sorry! The page you are looking for is not found

    div.text-center
        a.btn.btn-info(href="/") Homepage