<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="http://nodedesk.dev/vendor/bootstrap-theme/css/yeti.css">
    <link rel="stylesheet" href="http://nodedesk.dev/vendor/font-awesome/css/font-awesome.min.css">
    <!--if lt IE 9
    script(src="/vendor/html5shiv/html5shiv.min.js")
    script(src="/vendor/respond/respond.min.js")
    -->
</head>
<body>
    <div class="doc-pdf-footer" id="pdfFooter"></div>
    <script type="text/javascript">
    var vars   = {},
        loc    = document.location.search.substring(1).split('&'),
        footer = document.getElementById('pdfFooter');
    for (var i in loc) {
        var v = loc[i].split('=', 2);
        vars[v[0]] = decodeURIComponent(v[1]);
    }

    if (vars['page'] == 1) {
        // Don't show the footer at the first page
        footer.style.display = 'none';
    } else {
        if (parseInt(vars['page']) % 2 == 0) {
            footer.style.textAlign = 'left';
            footer.innerHTML = [vars['page'], ' | ', vars['subsection']].join('');
        } else {
            footer.style.textAlign = 'right';
            footer.innerHTML = [vars['subsection'], ' | ', vars['page']].join('');
        }
    }
    </script>
</body>
</html>
